body {
    background-color: #E6E6FA; /* Lavender */
}

h1 {
    font-family: Brush Script MT;
    color: #4B0082; /* Indigo */
    font-size: 40px;
    text-align: left;
}
h2 {
    font-family: Brush Script MT;
    color: #4B0082; /* Indigo */
    font-size: 30px;
    text-align: left;
}
p {
    font-family: 'Georgia', serif;
    color: #2F4F4F; /* Dark Slate Gray */
    font-size: 16px;
    line-height: 1.5;
}
